body {
	background-color: #333;
	color: white;
	font-size: 24px;
}

h1 {
	text-align: center;
}

#getUser {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: silver;
	color: black;
	text-align: center;
	z-index: 3;
	display: none;
}

#getUser div {
	position: relative;
	top: 25%;
	display: block;
	margin: auto;
}

#chatName {
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 24px;
}

#getUser button {
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	font-size: 24px;
}

#getUser button:hover {
	cursor: pointer;
	background-color: #333;
	color: white;
}

#usersDiv {
	position: fixed;
	top: 5px;
	right: 10px;
	width: 130px;
}

h5 {
	margin: 0px;
}

#liveUsers {
	margin: 0px;
	padding-left: 20px;
	max-width: 110px;
	font-size: 20px;
	word-break: break-all;
	list-style-type: circle;
}

#messages {
	margin-right: 145px;
	margin-bottom: 10%;
	padding: 0px;
}

#messages li {
	padding-left: 3px;
	border-radius: 2px;
	list-style-type: none;
}

#messages li:nth-child(odd) {
	background-color: #999;
	color: black;
}

#scrollHere {
	margin-top: 10%;
}

#formContainer {
	margin-bottom: 10px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#messageForm {
	text-align: center;
}

#message {
	/*padding: 3px;*/
	width: 90%;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

#formContainer button {
	width: 5%;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

#formContainer button:hover {
	cursor: pointer;
	background-color: skyblue;
	color: black;
}